*.jl.*.cov
*.jl.cov
*.jl.mem
/Manifest*.toml
/docs/Manifest*.toml
/docs/build/
*.pdf
*.png
*.svg
*.eps
*.tex
*.sty
*.cls
*.bst
*.bbl
*.blg
*.aux
*.log
.DS_Store
.CondaPkg/
*.fdb_latexmk
*.fls
*.synctex.gz
